---
layout: layout.liquid
title: 11ty Boilerplate
---
<div class="header">
        <h1>Asteroidlo V-5 Experiments</h1>
        <img src="images/Asteroidlologo.png" alt="Asteroidlo">
</div>
    <div class="allSections">
        <div class="solar-shield-section">
            <div class="imageLabel">
                <h2>Solar Shield</h2>
                <img src="images/solarshield.png" alt="Solar Shield Image">
            </div>
            <div class="imageLabel">
                <h2>Surface Tester</h2>
                <img src="images/surfacetester.png" alt="Surface Tester Image">
            </div>
            <div class="imageLabel">
                <h2>Rocket Radar</h2>
                <img src="images/rocketradar.png" alt="Rocket Radar Image">
            </div>
        </div>
        <div class="surface-tester-section">
            <div class="locationDuration">
                <h2>Location: Mercury</h2>
                <h2>Duration: 152 Days</h2>
            </div>
            <div class="locationDuration">
                <h2>Location: Jupiter</h2>
                <h2>Duration: 91 Days</h2>
            </div>
            <div class="locationDuration">
                <h2>Location: Mars</h2>
                <h2>Duration: 50 Days</h2>
            </div>
        </div>
        <div class="rocket-radar-section">
            <div class="locationMaps">
                <h2>Aproximate Location</h2>
                <img src="images/shieldlocation.png" alt="Solar Shield Map Location">
            </div>
            <div class="locationMaps">
                <h2>Aproximate Location</h2>
                <img src="images/surfacelocation.png" alt="Surface Tester Map Location">
            </div>
            <div class="locationMaps">
                <h2>Aproximate Location</h2>
                <img src="images/rocketlocation.png" alt="Rocket Radar Map Location">
            </div>
        </div>
    </div>