html {
    background-color: #33333B;
    color: white;
    font-family: monospace;
    text-align: center;
}

h2 {
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    gap: 20px;
    background-color: #282b64;
}

.solar-shield-section,.surface-tester-section,.rocket-radar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rocket-radar-section{
    
}

.solar-shield-section{
    gap: 45px;
}

.surface-tester-section{
    gap: 185px;
}

.allSections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
    gap: 100px;
}
